@{
    ViewBag.Title = "Sobre Nós";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<link href="~/Content/Site.css" rel="stylesheet" />

<div>
    <h2 id="h2">Onde tudo Começou</h2>
    <p>
        Quitanda era um sonho antigo do meu Bisavô, nascido na Espanha. Fundou nossa primeira barraca no mercadão de São Paulo em 1925.
    </p>
    <div>
        
            <div>
                <img id="img" class="img-fluid col-md-8" src="~/img/mercado-de-pinheiros-sobre.jpg" alt="Mercadão 1930" />
            </div>
            <div>
                <img id="img"  class="img-fluid col-md-4" src="~/img/7937c930cd3607ae4c3267a2e71ca543.jpg" />
            </div>

            <div>
                <img id="img"  class="img-fluid col-md-6" src="~/img/15605567755d0434e70aa1c_1560556775_3x2_md.jpg" />
            </div>
            <div>
                <img id="img" col-md-4 class="img-fluid col-md-6" src="~/img/Mercado de Pinheiros - São Paulo (1).jpg" />
            </div>
      
    </div>

</div>
