@{
    ViewBag.Title = "Contatos";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rua São Paulo, 593<br />
    SP, Brasil<br />
    <abbr title="Phone">Telefone: 11971329882</abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:jolgodoy27@gmail.com">jolgodoy27@gmail.com  </a>
    <strong>Marketing:</strong> <a href="mailto:joaorogodoy@gmail.com">joaorogodoy@gmail.com</a>
</address>