@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 id="quitanda">Quitanda</h1>
    <p class="lead">Feira livre todos os dias com os melhores fruta e preços do mercado! Venha Conferir. </p>

    <div id="img" class="col-md-12">
        <center>
            <img src="~/img/mercadoSP.jpg" width="100%" height="100%" />
        </center>
    </div>
    <p>
        @Html.ActionLink("Saiba mais", "About", "Home")
    </p>
</div>


